/* Global Styles */
:root {
    --primary-color: #1caf77; 
    --secondary-color: #1caf77; 
    --background-color: #ffffff; 
    --text-color: 00000;

}

body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    align-items: center;
    margin: auto;
    flex-direction: column;
    padding: 1rem;
}
.hero img {
    width: 100%;
    height: auto;
}
.data, .weather {
    background-color: #f8f8f8;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 8px;
}

h2 {
    background-color: var(--secondary-color);
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
}

.weather-icon {
    font-size: 1.5rem;
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}