body {
    color: darkgrey;
    display: grid;
    justify-content: center;
    align-items: center;
}
nav , a{
    background-color: steelblue;
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
