@media (min-width: 32rem) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px;
    }

    #menu-button {
        display: none;
    }

    #nav-links {
        display: flex;
        gap: 3rem;
    }

    #nav-links a {
        text-decoration: none;
        color: white;
    }

    #templeCard{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-content: center;
    }
}