@media only screen and (min-width: 768px) {
    nav {
        display: flex;
        position: static;
        width: auto;
        flex-direction: row;
    }

    #menu-button {
        display: flex;
    }

    .temple-grid {
        grid-template-columns: repeat(3, 1fr);
        max-width: 900px;
        margin: auto;
    }

    img {
        width: 100%;
        max-width: 250px;
    }
}